@import "tailwindcss";

html, body {
  background-color: #0b0b0c;
  color: #e4e4e7; /* zinc-200 */
  font-feature-settings: "ss01", "ss02";
}

* {
  border-color: #1f1f23;
}

.react-github-calendar {
  overflow-x: hidden !important;
}

.react-github-calendar__calendar rect {
  rx: 4px;
}

.react-github-calendar__calendar rect[data-level="4"] {
  filter: drop-shadow(0 0 4px #b266ff);
}

.react-github-calendar svg {
  width: 100% !important;
  height: auto !important;
}

.terminal-window {
  background: rgba(30, 25, 35, 0.60);
  backdrop-filter: blur(4px);

  border: 1px solid rgba(180, 0, 255, 0.25);
  border-radius: 14px;

  overflow: hidden;

  box-shadow:
    0 10px 40px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(180, 0, 255, 0.08);

  transition: all 0.3s ease;
}

.terminal-header {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 8px 6px 8px;
  background: rgba(25, 25, 35, 0.9);
  border-bottom: 1px solid rgba(192, 104, 255, 0.15);
  font-family: monospace;
}

