@import "tailwindcss";

html, body {
  background-color: #0b0b0c;
  color: #e4e4e7; /* zinc-200 */
  font-feature-settings: "ss01", "ss02";
}

* {
  border-color: #1f1f23;
}

.better-pink {
 color:#c831c8;
}
.better-pink-bg{
 background-color: #da2ac3;
}

.neon-name {
  color: #d1a0fa;
  text-shadow:
    0 0 5px #6b09ac,
    0 0 10px #6b09ac,
    0 0 20px #6b09ac;
}

.react-github-calendar {
  overflow-x: hidden !important;
}

.react-github-calendar__calendar rect {
  rx: 4px;
}

.react-github-calendar__calendar rect[data-level="4"] {
  filter: drop-shadow(0 0 4px #b266ff);
}

.react-github-calendar svg {
  width: 100% !important;
  height: auto !important;
}
